<div class="page-header">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/setup">Home</a></li>
      <li class="breadcrumb-item active">Basic UI</li>
    </ol>
        <h1 class="page-title">ติดตั้งสินค้า</h1>
  </div>