<div class="row"> <!-- ลูกค้า -->
          <div class="col-xxl-12 col-lg-12">
            <!-- Example Panel With Heading -->
            <div class="panel panel-bordered">
                <div class="panel-heading">
                    <h3 class="panel-title">ข้อมูลลูกค้า</h3>
                    <div class="panel-actions">
                        <div class="input-group">
                        <input type="text" class="form-control" name="" placeholder="รหัสสมาชิก">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary"><i class="icon wb-search" aria-hidden="true"></i></button>
                        </span>
                        </div>
                    </div>
                 </div>
              <div class="panel-body">
                  <div class="row">
                      <div class="form-group col-md-4">
                          <label class="form-control-label" for="inputBasicFirstName">ชื่อจริง</label>
                          <input type="text" class="form-control" id="inputBasicFirstName" name="inputFirstName" placeholder="ชื่อจริง" autocomplete="off">
                      </div>
                      <div class="form-group col-md-4">
                          <label class="form-control-label" for="inputBasicLastName">นามสกุล</label>
                          <input type="text" class="form-control" id="inputBasicLastName" name="inputLastName" placeholder="นามสกุล" autocomplete="off">
                      </div>
                      <div class="form-group col-md-4">
                          <label class="form-control-label" for="inputBasicLastName">เพศ</label>
                          <div>
                              <div class="radio-custom radio-default radio-inline">
                                <input type="radio" id="inputBasicMale" name="inputGender">
                                <label for="inputBasicMale">ชาย</label>
                              </div>
                              <div class="radio-custom radio-default radio-inline">
                                <input type="radio" id="inputBasicFemale" name="inputGender" checked="">
                                <label for="inputBasicFemale">หญิง</label>
                            </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="form-group col-md-4">
                          <label class="form-control-label" for="inputBasicLastName">วันเกิด</label>
                          <div class="input-group">
                      <span class="input-group-addon">
                        <i class="icon wb-calendar" aria-hidden="true"></i>
                      </span>
                      <input type="text" class="form-control" data-plugin="datepicker">
                    </div>
                      </div>
                      <div class="form-group col-md-4">
                          <label class="form-control-label" for="inputBasicFirstName">Email</label>
                          <input type="text" class="form-control" id="inputBasicFirstName" name="inputFirstName" placeholder="Email" autocomplete="off">
                      </div>
                      <div class="form-group col-md-4">
                          <label class="form-control-label" for="inputBasicLastName">เบอร์โทรศัพท์</label>
                          <input type="text" class="form-control" id="inputBasicLastName" name="inputLastName" placeholder="เบอร์โทรศัพท์" autocomplete="off">
                      </div>
                  </div>                
              </div>
            </div>
            <!-- End Example Panel With Heading -->
          </div>
        </div>