<div> <!-- รายชื่อสินค้า  -->
    <h4>รายชื่อสินค้า
        <button id="addToTable" class="btn btn-outline btn-primary" type="button">
            <i class="icon wb-plus" aria-hidden="true"></i> Add row
        </button>
    </h4>
    <table class="table table-bordered table-hover" cellspacing="0" id="exampleAddRow">
        <thead>
            <tr>
                <th>รหัสสินค้า</th>
                <th>ชื่อสินค้า</th>
                <th>จำนวน</th>
                <th></th>
                        </tr>
                      </thead>
                      <tbody>
                      @{
                        for(int i = 0; i < 1; i++) {
                          <tr class="gradeA">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="actions">
                              <a href="#" class="btn btn-sm btn-icon btn-pure btn-default on-editing save-row"
                              data-toggle="tooltip" data-original-title="Save" hidden><i class="icon wb-wrench" aria-hidden="true"></i></a>
                              <a href="#" class="btn btn-sm btn-icon btn-pure btn-default on-editing cancel-row"
                              data-toggle="tooltip" data-original-title="Delete" hidden><i class="icon wb-close" aria-hidden="true"></i></a>
                              <a href="#" class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row"
                              data-toggle="tooltip" data-original-title="Edit"><i class="icon wb-edit" aria-hidden="true"></i></a>
                              <a href="#" class="btn btn-sm btn-icon btn-pure btn-default on-default remove-row"
                              data-toggle="tooltip" data-original-title="Remove"><i class="icon wb-trash" aria-hidden="true"></i></a>
                          </td>
                        </tr>
                      }
                    }
              </tbody>
            </table>
</div>
            <!-- End Example Panel With Heading -->
          