@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@ViewData["itemList"]

<div class="page">
    <!-- Page Content -->
    <div class="page-content">
     <div class="panel">
          <header class="panel-heading">
            <h3 class="panel-title">
              งานติดตั้ง
                <a href="/setup/create" class="btn btn-outline btn-primary float-right">
                  <i class="icon wb-plus" aria-hidden="true"></i> เพิ่มรายการ
                </a>
            </h3>
          </header>
          <div class="panel-body">
            <table class="table table-hover dataTable table-striped w-full" id="exampleTableTools">
              <thead>
                <tr>
                  <th>ลำดับ</th>
                  <th>รหัส T-Service</th>
                  <th>ประเภทสินค้า</th>
                  <th>ชื่อลูกค้า</th>
                  <th>สถานะ</th>
                  <th>ตัวเลือก</th>
                </tr>
              </thead>
              <tbody>
                @{
                  for(int i = 1; i <= 10; i++) {
                    <tr>
                      <td>@i</td>
                      <td>43531231</td>
                      <td>ทีวี</td>
                      <td>Littel haven</td>
                      <td>
                        @{
                          if (i%2 == 0){
                            <span class="badge badge-danger">ติดปัญหา</span>
                          } 
                          else {
                            <span class="badge badge-success">เสร็จสิ้น</span>
                          }
                        }
                      </td>
                      <td>
                        <div class="btn-group">
                          <button type="button" class="btn btn-icon btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" aria-hidden="true">
                            <i class="icon wb-wrench" aria-hidden="true"></i>
                          </button>
                          <div class="dropdown-menu" role="menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 36px, 0px); top: 0px; left: 0px; will-change: transform;">
                            <a class="dropdown-item" href="/setup/update" role="menuitem">
                              <i class="icon wb-scissor" aria-hidden="true"></i> แก้ไข
                            </a>
                            <a class="dropdown-item" href="/setup/delete" role="menuitem">
                              <i class="icon wb-rubber" aria-hidden="true"></i> ลบ
                            </a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  }
                }
              </tbody>
            </table>
          </div>
        </div>
        <!-- End Panel Table Tools --> 
      </div>
      <!-- End Page Content -->
</div>