@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page">
  @Html.Partial("/Views/PartialView/vBreadcrumb.cshtml")
  <form action="/Setup/Create" method="POST">
    @Html.Partial("_Form")
  </form>
</div>